/*----------------------Textual---------------------*/
h1 {
  color: white;
  font-family: Courier New;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: Courier New;
  font-size: 120%;
}

h3 {
  font-size: 130%;
  padding-left: 2vw;
}

h4 {
  padding-left: 5vw;
}

p {
  font-family: Courier New;
  font-size: 90%;
  font-weight: bold;
}

li {
  font-family: Courier New;
  font-size: 90%;
  font-weight: bold;
}

/* ----------------------Stylised text----------------- */

.intro {
  display: block;
  /* padding-left: 40vw; */
  text-align: left;
}

/* -------------------Backgroud Art --------------------- */

header {
  grid-area: header;


}

.hello {
  padding-left: 10%;
  text-align: left;
}
.nextwd {
  padding-right: 10%;
  text-align: right;
}

html{
  background-image: linear-gradient(to right, rgba(140, 10, 10, 1), rgba(255, 165, 0, 1));
  background-position: bottom right, left, right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*---------------------Navigation--------------------------------*/
nav li{
  display: inline-block;
}

nav a{
  color: black;
  display: block;
  font-family: Courier New;
  padding: 1rem;
}

nav a:hover{
      border: 2px solid black;
  }

nav {
  text-align: center;
}

/* .button1 {
  background-color: black;
  color: black;
  font-size: 15px;
  width: 150px;
} */

/* .button2 {
  color: white ;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  width: 150px;
} */

/* ----------------------- Media ------------------------- */

#headshot {
  height: 90%;
  width: 80%;
  /* padding-left: 10vw; */
}

/* ---------------------- Grid ------------------------- */
main {
  display: grid;
  width: 100vw;
  max-width: 60em;
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 15em 1fr;
  grid-template-areas:
      "header header header"

}
