/*----------------------Textual---------------------*/
h1 {
  font-family: Courier New;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: Courier New;
  font-size: 120%;
}

h3 {
  font-size: 130%;
  padding-left: 2vw;
}

h4 {
  padding-left: 5vw;
}

p {
  font-family: Courier New;
  font-size: 90%;
  font-weight: bold;
}

li {
  font-family: Courier New;
  font-size: 90%;
  font-weight: bold;
}

/* ----------------------Stylised text----------------- */

.intro {
  display: block;
  padding-left: 40vw;
  text-align: left;
}

/*---------------------Navigation--------------------------------*/
nav li{
  display: inline-block;
}

nav a{
  color: black;
  display: block;
  font-family: Courier New;
  padding: 1rem;
}

nav a:hover{
      border: 2px solid black;
  }

/* .button1 {
  background-color: black;
  color: black;
  font-size: 15px;
  width: 150px;
} */

/* .button2 {
  color: white ;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  width: 150px;
} */

/* ----------------------- Media ------------------------- */

#headshot {
  height: 20%;
  width: 20%;
  padding-left: 10vw;
}
